body {
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    min-width: 320px;
    margin: 0;
  }

.myform {
    background-color: azure;
    width: 80%;
    margin: auto;
}

.formElement {
    padding-bottom: 15px;
}